.mandatory-field {
  color: #000;
  font-size: 80%
}

.take-photo {
  padding: 15px 15px;
  font-size: 100%;
  width: 100%
}

.personal-step {
  padding: 8px 14px;
  border-radius: 100px;
  background-color: #474747;
  color: #fff;
}

.personal-banner {
  padding-top: 25px;
  padding-bottom: 25px
}

.personal-content {
  color: #000;
  font-weight: 600;
  font-size: 100%
}

.line-height-left-1 {
  line-height: 1;
  text-align: left;
}

.line-height-left-1-2 {
  line-height: 1.2;
  text-align: left;
}

.checkbox-label {
  font-size: 90%;
  font-weight: 400;
}

input[type=radio] {
  transform: scale(1.5);
  margin-top: 8px;
  margin-right: 10px;
}
