.policy-step {
  padding: 8px 14px;
  border-radius: 100px;
  background-color: #474747;
  color: #fff;
}

.policy-banner {
  padding-top: 25px;
  padding-bottom: 25px
}

.policy-banner-content {
  color: #000;
  font-weight: 600;
  font-size: 100%
}

.policy-container {
  padding: 25px;
  border-radius: 15px;
  margin: 5px;
}

.policy-content {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

