.organisation-container {
  padding: 25px;
  border-radius: 10px;
  margin: 0
}

.reference-content {
  color: #fad413;
  font-weight: 700;
  text-align: center;
}

.organisation-banner {
  padding-top: 25px;
  padding-bottom: 25px
}

.organisation-content {
  color: #000;
  font-weight: 600;
  font-size: 100%
}

.organisation-info{
  line-height: 1; padding-left: 10px
}

.organisation-step{
  padding: 8px 14px;
  border-radius: 100px;
  background-color: #474747;
  color: #fff;
}
